### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Explore data types assigned while importing csv file to a DataFrame
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
# check for missing rows - have None, NaN
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [5]:
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [6]:
total_players_df = purchase_data_df.loc[: , ["SN", "Age", "Gender"]]

# drop duplicates using drop_duplicates method
total_unique_players_df = total_players_df.drop_duplicates()
total_unique_players_df

# use the count method to count unique players
total_players = total_unique_players_df.count()["SN"]
total_players

# create a DataFrame
total_players_summary_df = pd.DataFrame({
    "Total Players": [total_players]
})
total_players_summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_data_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [8]:
# create variable for item_count
item_count = len(purchase_data_df["Item ID"].unique())
item_count

179

In [9]:
# total_purchase_value
total_purchase_value = purchase_data_df["Price"].sum()
total_purchase_value

2379.77

In [10]:
# purchase_count
purchase_count = purchase_data_df["Price"].count()
purchase_count

780

In [11]:
# average_item_price
average_item_price = purchase_data_df["Price"].mean()
average_item_price

3.0509871794871795

In [12]:
# create a DataFrame to hold results from above
purchase_summary_table_df = pd.DataFrame({
   "Number of Unique Items": item_count,
    "Total Revenue": total_purchase_value,
    "Number of Purchases": purchase_count,
    "Average Price": [average_item_price]
})
purchase_summary_table_df

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     179        2379.77                  780       3.050987

In [13]:
# make a copy of the purchase_summary_table_df 
formated_purchase_summary_table_df = purchase_summary_table_df.copy()

In [14]:
# format using .map and .format methods
# Data Munging to get summary table to look like solution
    # use the map and format methods to apply formating to Average Price
formated_purchase_summary_table_df["Average Price"] = formated_purchase_summary_table_df["Average Price"].map("${:,.2f}".format)

    # use the map and format methods to apply formating to Total Revenue
formated_purchase_summary_table_df["Total Revenue"] = formated_purchase_summary_table_df["Total Revenue"].map("${:,.2f}".format)

    # use the map and format methods to apply formatting to Nubmer of Purchases
formated_purchase_summary_table_df["Number of Purchases"] = formated_purchase_summary_table_df["Number of Purchases"].map("{:,.0f}".format)
    
    # reorder the columns using the loc method
formated_purchase_summary_table_df = formated_purchase_summary_table_df.loc[:, ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

formated_purchase_summary_table_df

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
# the total_unique_players_df will used in gender demographics calculations as duplicate players are to be avoidedin these calculations
total_unique_players_df.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [16]:
# create variables for summary table below
    # use the values_counts method to get counts for each unique entry in the Gender column
gender_totals = total_unique_players_df["Gender"].value_counts()
gender_totals
    
    # use gender_totals and total_players to get gender_percentages
gender_percentages = (gender_totals / total_players)
gender_percentages

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [17]:
# create summary table for gender demographics
gender_demographics_summary_table_df = pd.DataFrame({
    "Total Count": gender_totals,
    "Percentage of Players": gender_percentages
})

gender_demographics_summary_table_df

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [18]:
# make a copy of the gender_demographics_summary_table_df
formated_gender_demographics_summary_table_df = gender_demographics_summary_table_df.copy()

In [19]:
# Data Munging
formated_gender_demographics_summary_table_df["Percentage of Players"] = gender_demographics_summary_table_df["Percentage of Players"].map("{:,.2%}".format)
formated_gender_demographics_summary_table_df

formated_gender_demographics_summary_table_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# the purchase_data_df will be used in the purchase analysis as duplicates are desired as part of these calculations
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
# create the variables used to create the summary table (DataFrame) below
    # use the groupby method to group by gender
    # the result is an object (I am calling purchase_gender_object) when using purchase_data_df.groupby(["Gender"]) without a method of aggregation
    # select the columns from the dataframe you wish to keep

    # apply the sum method the purchase_gender_object to get a new dataframe
    # use the rename method to rename the "Price" column to "Total Purchase Value"
# total_purchase_value_gender = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value_gender = purchase_data_df.groupby(["Gender"]).sum()["Price"]
total_purchase_value_gender

#     # apply the mean method to the purchase_gender_object to get a new dataframe
#     # use the rename method to rename the "Price" column to "Average Purchase Price"
avg_purchase_price_gender = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
avg_purchase_price_gender

#     # apply the count method to the purchase_gender_object
#     # use the rename method to rename the "Price" column to "Purchase Count"
purchase_counts_gender = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_counts_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [22]:
# calculate normalized_totals_gender which is the average total purchase (per person) for that gender
    # use total_purchase_value_gender calculated above
    # along with gender_totals
    # to calculate normalized_totals_gender
normalized_totals_gender = total_purchase_value_gender / gender_totals
normalized_totals_gender

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [23]:
# create summary table for purchasing Analysis by Gender
purchase_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purchase_counts_gender,
    "Average Purchase Price": avg_purchase_price_gender,
    "Total Purchase Value": total_purchase_value_gender,
    "Avg Total Purchase per Person": normalized_totals_gender
})
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [24]:
# make a copy of the purchase_analysis_gender_df
formated_purchase_analysis_gender_df = purchase_analysis_gender_df.copy()

In [25]:
# data munging
formated_purchase_analysis_gender_df["Average Purchase Price"] = formated_purchase_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
formated_purchase_analysis_gender_df["Total Purchase Value"] = formated_purchase_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
formated_purchase_analysis_gender_df["Purchase Count"] = formated_purchase_analysis_gender_df["Purchase Count"].map("{:,}".format)
formated_purchase_analysis_gender_df["Avg Total Purchase per Person"] = formated_purchase_analysis_gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

formated_purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
# This analysis is focused on the player and will use the total_unique_players_df
total_unique_players_age_df = total_unique_players_df.copy()
total_unique_players_age_df.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [27]:
# The cut method will be used in this analysis 
# first establish the bins
age_bins = [0,10,15,20,25,30, 35, 40, 99999]  # 99999 is an arbitray large number
age_group_names = ["<10", "10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40+"]

# Categorize the existing players using the age bins and age_group_names
total_unique_players_age_df["Age Ranges"] = pd.cut(total_unique_players_age_df["Age"], age_bins, labels=age_group_names, right=False)
total_unique_players_age_df

# calculate

                SN  Age  Gender Age Ranges
0          Lisim78   20    Male      20-25
1      Lisovynya38   40    Male        40+
2       Ithergue48   24    Male      20-25
3    Chamassasya86   24    Male      20-25
4        Iskosia90   23    Male      20-25
..             ...  ...     ...        ...
773         Hala31   21    Male      20-25
774     Jiskjask80   11    Male      10-15
775     Aethedru70   21  Female      20-25
777     Yathecal72   20    Male      20-25
778        Sisur91    7    Male        <10

[576 rows x 4 columns]

In [28]:
# Calculate age_demographics_totals 
age_demographics_total = total_unique_players_age_df["Age Ranges"].value_counts()

In [29]:
# Calculate age demogrphyics percentages
age_demographics_percentages = age_demographics_total / total_players
age_demographics_percentages

20-25    0.447917
15-20    0.185764
25-30    0.133681
30-35    0.090278
35-40    0.053819
10-15    0.038194
<10      0.029514
40+      0.020833
Name: Age Ranges, dtype: float64

In [30]:
# create a Age Demographics Summary Table (DataFrame)
age_demographics_summary_table_df = pd.DataFrame({
    "Total Count": age_demographics_total,
    "Percentage of Players": age_demographics_percentages
})

# Data Munging
age_demographics_summary_table_df = age_demographics_summary_table_df.sort_index()

age_demographics_summary_table_df

       Total Count  Percentage of Players
<10             17               0.029514
10-15           22               0.038194
15-20          107               0.185764
20-25          258               0.447917
25-30           77               0.133681
30-35           52               0.090278
35-40           31               0.053819
40+             12               0.020833

In [31]:
# make a copy of age_demographics_summary_table_df before formating
formated_age_demographics_summary_table_df = age_demographics_summary_table_df.copy()

In [32]:
formated_age_demographics_summary_table_df["Percentage of Players"] = formated_age_demographics_summary_table_df["Percentage of Players"].map("{:,.2%}".format)
formated_age_demographics_summary_table_df

TypeError: unsupported operand type(s) for /: 'str' and 'float'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# the purchase_data_df will be used for this analysis 
purchase_data_df.head()

In [ ]:
# calculate purchase count by gender; use the rename method to rename to Total Purchase Value
purchase_count_gender = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
purchase_count_gender

In [ ]:
# calculate Average Total Purchase per Person
avg_purchase_gender = purchase_count_gender / purchase_analysis_gender_df["Purchase Count"]
avg_purchase_gender

In [ ]:
# calculatae total purchase gender
total_purchase_gender = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_gender

In [ ]:
# calculate the average total purchase per person
avg_total_purchase_per_person_gender = total_purchase_gender /   purchase_analysis_gender_df["Total Count"]
avg_total_purchase_per_person_gender

In [ ]:
# Create a purchase_analysis_age_df summary table
purchase_analysis_age_df = pd.DataFrame({
    "Purchase Count": purchase_count_gender,
    "Average Purchase Price": avg_purchase_gender,
    "Total Purchase Value": total_purchase_gender,
    "Avg Total Purchase per Person": avg_total_purchase_per_person_gender
})

purchase_ananlysis_age_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame