## PyCity Schools Analysis

Findings:

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Combine the data into a single dataset using the .merge method.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [6]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [7]:
# check data types before attempting calculations
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [8]:
# Explore DataFrame for missing values
school_data_complete.count()
 # none found

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [9]:
# Optional: Exploritory Data Analysis - Explore DataFrame for school counts to understand general distribution of students by school
school_data_complete["school_name"].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
# display the DataFrame for reference below
school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

#### Calculate the total number of schools

In [11]:
# Calculate the total number of (unique) schools and use len function to find total
unique_schools_list = school_data_complete["school_name"].unique()
total_number_schools = len(unique_schools_list)
print(f"There are a total of {total_number_schools} schools in the PyCitySchools DataSet")

There are a total of 15 schools in the PyCitySchools DataSet

#### Calculate the total number of students

In [12]:
# Calculate the total number of students using the count method
total_number_students = school_data_complete["Student ID"].count()

print(f"There are a total of {total_number_students:,.0f} students in the PyCitySchools DataSet")

There are a total of 39,170 students in the PyCitySchools DataSet

#### Calculate the total budget

In [13]:
# Calculate the total budget (from the school_data DataFrame ) using the sum method
total_budget = school_data["budget"].sum()

print(f"The total budget for all PyCity Schools is ${total_budget:,.2f}")

The total budget for all PyCity Schools is $24,649,428.00

#### Calculate the average math score

In [14]:
# Calculate the average math score and apply rounding
avg_math_score = round(school_data_complete["math_score"].mean(), 2)

print(f"The average math score for students in PyCity Schools is {avg_math_score}")

The average math score for students in PyCity Schools is 78.99

#### Calculate the average reading score

In [15]:
# Calculate the average reading score and apply rounding
avg_read_score = round(school_data_complete["reading_score"].mean(), 2)

print(f"The average reading score for students in PyCity Schools is {avg_read_score}")

The average reading score for students in PyCity Schools is 81.88

#### Calculate the percentage of students with a passing math score (70 or greater)

In [16]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete[(school_data_complete["math_score"] >=70)].count()["student_name"]
percent_passing_math = round((passing_math / total_number_students), 2)

print(f"{percent_passing_math} percent of the students in PySchools have a math grade of 70 or above (Passing)")

0.75 percent of the students in PySchools have a math grade of 70 or above (Passing)

#### Calculate the percentage of students with a passing reading score (70 or greater)

In [17]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
percent_passing_reading = round(passing_reading / total_number_students, 2)

print(f"{percent_passing_reading:.2%} percent of the students in PySchools have a reading grade of 70 or above (passing)")

86.00% percent of the students in PySchools have a reading grade of 70 or above (passing)

#### Calculate the percentage of students who passed math and reading (% Overall Passing)

In [18]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
percent_overall_passing = round(overall_passing / total_number_students, 2)

print(f"{percent_overall_passing:.2%} percent of students passing math and reading where passing is 70 or greater")

65.00% percent of students passing math and reading where passing is 70 or greater

#### Create a dataframe to hold the above results

In [19]:
# Create a dataframe to hold the above results
pyschool_summary_df = pd.DataFrame({
    "Total Schools": [total_number_schools],
    "Total Students": [total_number_students],
    "Total Budget": [total_budget],    
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_read_score],
    "Percent Passing Math": [percent_passing_math],
    "Percent Passing Reading": [percent_passing_reading],
    "Overall Passing Rate": [percent_overall_passing]
})

pyschool_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,0.75,0.86,0.65

In [20]:
# Check the dtypes before formating and compare to dtypes after formating
pyschool_summary_df.dtypes

Total Schools                int64
Total Students               int64
Total Budget                 int64
Average Math Score         float64
Average Reading Score      float64
Percent Passing Math       float64
Percent Passing Reading    float64
Overall Passing Rate       float64
dtype: object

#### Optional: give the displayed data cleaner formatting

In [21]:
# Optional: give the displayed data cleaner formatting
# format using .map and .format methods
pyschool_summary_df["Total Students"] = pyschool_summary_df["Total Students"].map("{:,}".format)
pyschool_summary_df["Total Budget"] = pyschool_summary_df["Total Budget"].map("${:,.0f}".format)
pyschool_summary_df["Percent Passing Math"] = pyschool_summary_df["Percent Passing Math"].map("{:.2%}".format)
pyschool_summary_df["Percent Passing Reading"] = pyschool_summary_df["Percent Passing Reading"].map("{:.2%}".format)
pyschool_summary_df["Overall Passing Rate"] = pyschool_summary_df["Overall Passing Rate"].map("{:.2%}".format)                                                                     
pyschool_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,75.00%,86.00%,65.00%

In [22]:
# formating modifies the dtypes from numbers to Objects (strings) therefore the program should be re-run from the top to "reset the dtypes"
pyschool_summary_df.dtypes

Total Schools                int64
Total Students              object
Total Budget                object
Average Math Score         float64
Average Reading Score      float64
Percent Passing Math        object
Percent Passing Reading     object
Overall Passing Rate        object
dtype: object

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

#### School Name and School Type

In [23]:
# School Name and School Type
# Get school types using the set_index method to set the index to school name for the school_data DataFrame
# Note: do this in two sets: first school_types = school_data.set_index(["school_name"]) and print to view results then add ["type"] and view results
school_types = school_data.set_index(["school_name"])["type"]
school_types

In [24]:
# display the DataFrame for reference below
school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

#### Total Students

In [25]:
# Total Students: get the count of total students for each school using the value_counts() method
school_student_counts = school_data_complete["school_name"].value_counts()

# school_student_counts

#### Total School Budget

In [26]:
# Total School budget
# This is done in three parts. 
    # First use groupby to group the DataFrame by school_name which creates an object. 
    # Second add an aggregation (sum, mean, count, etc.) to get a resulting DataFrame
    # Third select the column(s) you want to keep - in this case just the "budget" column
school_total_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

# school_total_budget

#### Per Student Budget

In [27]:
# Per Student Budget
# Use per_student_budget = school_total_budget / school_student_counts
school_per_student_budget = school_total_budget / school_student_counts

# school_per_student_budget

#### Average Math Score

In [28]:
# Average Math Score
# This is done in three parts. 
    # First use groupby to group the DataFrame by school_name which creates an object. 
    # Second add an aggregation (sum, mean, count, etc.) to get a resulting DataFrame
    # Third select the column(s) you want to keep - in this case just the "math_score" column
    # optional: use the round function to round to 2 decimal places
school_avg_math_score = round(school_data_complete.groupby(["school_name"]).mean()["math_score"], 2)   # optional: use the round function

# school_avg_math_score

#### Average Reading Score

In [29]:
# Average Reading Score
# This is done in three parts. 
    # First use groupby to group the DataFrame by school_name which creates an object. 
    # Second add an aggregation (sum, mean, count, etc.) to get a resulting DataFrame
    # Third select the column(s) you want to keep - in this case just the "reading_score" column
    # optional: use the round function to round to 2 decimal places
school_avg_reading_score = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"], 2)   # optional: use the round function

# school_avg_reading_score

#### % Passing Math

In [30]:
# Get DataFrame of students Passing Math
    # This is done in two parts:
        # First use a conditional to examine all rows to identif were math_score >=70 using a conditional - this results in a boolean
        # Second create a DataFrame were step one is passed as an augument for the rows in the DataFrame
school_passing_math_df = school_data_complete[(school_data_complete["math_score"] >= 70)]
# school_passing_math

# Next get the Percent Passing Math
    # This is done in two parts in order to perform the calculation: school_passing_math_count / school_student_counts
        # First use the school_passing_math DataFrame created above and groupby on school name and using count for method of aggregation
        # next, select the column(s) you want to keep - in this case just the "student_name" column
school_passing_math_count = school_passing_math_df.groupby(["school_name"]).count()["student_name"]
# school_passing_math_count

school_percent_passing_math = round(school_passing_math_count / school_student_counts * 100, 2)   # optional: use the round function
# school_percent_passing_math

#### Percent Passing Reading

In [31]:
# Get DataFrame of students Passing Reading
    # This is done in two parts:
        # First use a conditional to examine all rows to identif were reading_score >=70 using a conditional - this results in a boolean
        # Second create a DataFrame were step one is passed as an augument for the rows in the DataFrame
school_passing_reading_df = school_data_complete[(school_data_complete["reading_score"] >= 70)]
# school_passing_reading

# Next get the Percent Passing reading
    # This is done in two parts in order to perform the calculation: school_passing_reading_count / school_student_counts
        # First use the school_passing_reading DataFrame created above and groupby on school name and using count for method of aggregation
        # next, select the column(s) you want to keep - in this case just the "student_name" column
school_passing_reading_count = school_passing_reading_df.groupby(["school_name"]).count()["student_name"]
# school_passing_reading_count

# perform the calculation school_passing_reading_count / school_student_counts and round to 2 decimal places
school_percent_passing_reading = round(school_passing_reading_count / school_student_counts * 100, 2) # optional: use the round function
# school_percent_passing_reading

#### % Overall Passing

In [32]:
# % Overall Passing (The percentage of students that passed math and reading
# Get DataFrame of students passing math and reading
    # This is done in two parts:
        # First use a conditional that uses & to examine rows for students passing math and reading - this results in a boolean
        # Second create a DataFrame were step one is passed as an augument for rows in the DataFrame
school_passing_overall_df = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
# school_passing_overall_df

# Next get the Percent Passing Overall
    # This is done in two parts in order to perform the calculation: school_passing_overall / school_student_counts
        # First use the school_passing_overall DataFrame created above and groupby on school name and using count for method of aggregation
        # next, select the column(s) you want to keep - in this case just the "student_name" column
school_passing_overall_count = school_passing_overall_df.groupby(["school_name"]).count()["student_name"]
# school_passing_overall_count

# perform the calculation school_passing_overall_count / school_student_counts and round to 2 decimal places
school_percent_passing_overall = round(school_passing_overall_count / school_student_counts * 100, 2)
# school_percent_passing_overall

#### Create a Summary Table (dataframe) to hold the above results

In [33]:
# Create a Summary Table in the form of a dataframe to hold the above results
# Note this is indexed by school name
school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": school_student_counts,
    "Total School Budget": school_total_budget,
    "Budget per Student": school_per_student_budget,
    "Average Math Score": school_avg_math_score,
    "Average Reading Score": school_avg_reading_score,
    "% Passing Math": school_percent_passing_math,
    "% Passing Reading": school_percent_passing_reading,
    "% Overall Passing": school_percent_passing_overall
})

school_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,90.33

In [34]:
# TODO: Arrange Order of Columns to match output in the instructions

In [35]:
# TODO: add formating to summary table

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [36]:
# Use the DataFrame created for the summary table to display the top five performing schools 
    # By first sorting the list by "% Overall Passing" using the sort_values method and in descending order using the additional argument , ascending=False
    # then using the .head() method to get the schools with the largest % overall passing  (head defalts to the first 5 if not argument is passed)
top_performing_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [37]:
# Use the DataFrame created for the summary table to display the bottom five performing schools 
    # By first sorting the list by "% Overall Passing" using the sort_values method and in descending order using the additional argument , ascending=False
    # then using the .tail() method to get the schools with the smallest % overall passing  (tail defalts to the last 5 if not argument is passed)
top_performing_schools = school_summary_df.sort_values(["% Overall Passing"], ascending=False)
bottom_performing_schools = top_performing_schools.tail()
bottom_performing_schools

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,53.54
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,53.53
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,53.51
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,53.20
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,52.99

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [38]:
# Create a pandas series (I am going to create a DataFrame) for each grade. Hint: use a conditional statement.
    # For each grade first create a conditional i.e. school_data_complete["grade"] == "9th" which will generate a boolean for each row
    # then create a DataFrame of (in this case ninth_grade_students) by passing that conditional statement as an argument to identify the rows requested in a DataFrame
# 9th grade
ninth_grade_students_df = school_data_complete[(school_data_complete["grade"] == "9th")]
# ninth_grade_students_df

# 10th grade
tenth_grade_students_df = school_data_complete[(school_data_complete["grade"] == "10th")]
# tenth_grade_students_df

# 11th grade
eleventh_grade_students_df = school_data_complete[(school_data_complete["grade"] == "11th")]
# eleventh_grade_students_df

# 12th grade
twelfth_grade_students_df = school_data_complete[(school_data_complete["grade"] == "12th")]
# twelfth_grade_students_df

In [39]:
# Group each series by school
    # Use the DataFrame created above for each grade and use groupby to group by school_name
    # Use the mean method of aggregation to get the average math score by school grade
    # Select the column(s) you want to keep - in this case just the "math_score" column
    # optional: use the round function to round to 2 decimal places

#ninth grade
ninth_grade_math_scores = round(ninth_grade_students_df.groupby(["school_name"]).mean()["math_score"], 2)
# ninth_grade_math_scores

# tenth grade
tenth_grade_math_scores = round(tenth_grade_students_df.groupby(["school_name"]).mean()["math_score"], 2)
# tenth_grade_math_scores

# eleventh grade
eleventh_grade_math_scores = round(eleventh_grade_students_df.groupby(["school_name"]).mean()["math_score"], 2)
# eleventh_grade_math_scores

# twelfth grade
twelfth_grade_math_scores = round(twelfth_grade_students_df.groupby(["school_name"]).mean()["math_score"], 2)
# twelfth_grade_math_scores

In [40]:
# Combine into a single DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

math_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [41]:
# Group each series by school
    # Use the DataFrame created above for each grade and use groupby to group by school_name
    # Use the mean method of aggregation to get the average reading score by school grade
    # Select the column(s) you want to keep - in this case just the "reading_score" column
    # optional: use the round function to round to 2 decimal places
# ninth grade
ninth_grade_reading_scores = round(ninth_grade_students_df.groupby(["school_name"]).mean()["reading_score"], 2)
# ninth_grade_reading_scores

# tenth grade
tenth_grade_reading_scores = round(tenth_grade_students_df.groupby(["school_name"]).mean()["reading_score"], 2)
# tenth_grade_reading_scores

# eleventh grade
eleventh_grade_reading_scores = round(eleventh_grade_students_df.groupby(["school_name"]).mean()["reading_score"], 2)
# eleventh_grade_reading_scores

# twelfth grade
twelfth_grade_reading_scores = round(twelfth_grade_students_df.groupby(["school_name"]).mean()["reading_score"], 2)
# twelfth_grade_reading_scores

In [42]:
# @TODO Combine into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
     "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})
reading_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [43]:
# this ASK will made use of school_per_student_budget created 

# to get an idea of the bins to create use describe to examine the summary statistics for 
school_per_student_budget.describe()

# note: the min is 578 and the max is 655 
# to get an idea of bin size: take the difference between these numbers 655 - 578 and divide by 4 to get the general size of a bin ( in this case about 20 or 30 should be right)

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [44]:
# The process for this ASK is:
    # create a list for bins to bin spending into
    # creaet group names for each of these bins

school_spending_bins = [0, 590, 630, 650, 680]
school_spending_groups = ["<$590", "$590-630", "$630-650", "$650 and up"]

In [45]:
# Optional: create a copy of the school_per_student_budget using the .copy method
school_spending_df = school_summary_df.copy()
# school_spending_df

In [46]:
# Create a new column called "Spending Ranges(Per Student)"
# use the pandas cut method to categorize spending based on bins and group names created
# note the arguments for the cut method can be observed using "Show Contextual Help" and clicking .cut below
# the argument right=False indicates if the rightmost edge of the bin should be included - we don't want the right edge include so we add right=False (if this is not included the default is true)
school_spending_df["Spending Ranges(Per Student)"] = pd.cut(school_per_student_budget, school_spending_bins, labels=school_spending_groups, right=False)
# school_spending_df

In [47]:
# Create a table that breaks down school performances based on average Spending Ranges (Per Student)
# This will be a DataFrame of averages for:
    #     Average Math Score
    #     Average Reading Score
    #     % Passing Math
    #     % Passing Reading
    #     Overall Passing Rate (Average of the above two)

    # Use groupby to group school_spending_df by "Spending Ranges(Per Student)" 
    # Apply the .mean() the method of aggregation
    # select the columns to keep (i.e. "Average Math Score")
    # Option: use the round function to round to 2 decimal places
spending_ranges_avg_math_scores = round(school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"], 2)
# spending_ranges_avg_math_scores

spending_ranges_avg_reading_scores = round(school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"], 2)
# spending_ranges_avg_reading_scores

spending_ranges_passing_math = round(school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Math"], 2)
# spending_ranges_passing_math

spending_ranges_passing_reading = round(school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"], 2)
# spending_ranges_passing_reading

spending_ranges_passing_overall = round(school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Overall Passing"], 2)
# spending_ranges_passing_overall

In [48]:
# # Create a table that breaks down school performances based on average Spending Ranges (Per Student)
# This will be a DataFrame of averages for:
    #     Average Math Score
    #     Average Reading Score
    #     % Passing Math
    #     % Passing Reading
    #     Overall Passing Rate (Average of the above two)
    
spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_ranges_avg_math_scores,
    "Average Reading Score": spending_ranges_avg_reading_scores,
    "% Passing Math": spending_ranges_passing_math,
    "% Passing Reading": spending_ranges_passing_reading,
    "Overall Passing Rate": spending_ranges_passing_overall
})
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$590,83.45,83.94,93.46,96.61,90.37
$590-630,81.90,83.16,87.13,92.72,81.42
$630-650,78.52,81.62,73.48,84.39,62.86
$650 and up,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [49]:
# this ASK will made use of school_summary_df created earlier
school_summary_df.head(2)

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33

In [50]:
# this ASK will made use of school_summary_df created earlier

# to get an idea of the bins to create use describe to examine the summary statistics for 
school_summary_df["Total Students"].describe()

# note the min is 427 and the max is 4979; To get the groups small, medium and large I will use bins = [0, 1000, 2000, 5000]

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: Total Students, dtype: float64

In [51]:
# The process for this ASK is:
    # create a list for bins to bin school size; the starter file suggests the bins of [0, 1000, 2000, 5000]
    # creaet group names for each of these bins

school_size_bins = [0, 1000, 2000, 5000]
school_size_groups = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [52]:
# Optional: create a copy of the school_summary_df using the .copy method
school_size_df = school_summary_df.copy()
school_size_df.head(2)

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33

In [53]:
# Create a new column called "School Size"
# use the pandas cut method to categorize spending based on bins and group names created
# note the arguments for the cut method can be observed using "Show Contextual Help" and clicking .cut below
# the argument right=False indicates if the rightmost edge of the bin should be included - we don't want the right edge include so we add right=False (if this is not included the default is true)
school_size_df["School Size"] = pd.cut(school_student_counts, school_size_bins, labels=school_size_groups, right=False)
# school_size_df

In [54]:
# Create a table that breaks down school performances based on School Size
# This will be a DataFrame:
    #     Average Math Score
    #     Average Reading Score
    #     % Passing Math
    #     % Passing Reading
    #     Overall Passing Rate (Average of the above two)

    # Use groupby to group school_size_df by "School Size" 
    # Apply the .mean() the method of aggregation
    # select the columns to keep (i.e. "Average Math Score")
    # Option: use the round function to round to 2 decimal places
size_ranges_avg_math_scores = round(school_size_df.groupby(["School Size"]).mean()["Average Math Score"], 2)
# size_ranges_avg_math_scores

size_ranges_avg_reading_scores = round(school_size_df.groupby(["School Size"]).mean()["Average Reading Score"], 2)
# size_ranges_avg_reading_scores

size_ranges_passing_math = round(school_size_df.groupby(["School Size"]).mean()["% Passing Math"], 2)
# size_ranges_passing_math

size_ranges_passing_reading = round(school_size_df.groupby(["School Size"]).mean()["% Passing Reading"], 2)
# size_ranges_passing_reading

size_ranges_passing_overall = round(school_size_df.groupby(["School Size"]).mean()["% Overall Passing"], 2)
# size_ranges_passing_overall

In [55]:
# Create a table that breaks down school performances based on School Size
# This will be a DataFrame:
    #     Average Math Score
    #     Average Reading Score
    #     % Passing Math
    #     % Passing Reading
    #     Overall Passing Rate (Average of the above two)
size_summary_df = pd.DataFrame({
    "Average Math Score": size_ranges_avg_math_scores,
    "Average Reading Score": size_ranges_avg_reading_scores,
    "% Passing Math": size_ranges_passing_math,
    "% Passing Reading": size_ranges_passing_reading,
    "Overall Passing Rate": size_ranges_passing_overall
})
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.87,93.60,96.79,90.62
Large (2000-5000),77.74,81.34,69.96,82.77,58.28

## Scores by School Type

* Perform the same operations as above, based on school type

In [56]:
# this ASK will made use of school_summary_df created earlier
# Optional: create a copy of the school_summary_df using the .copy method
school_type_df = school_summary_df.copy()
school_type_df.head(2)

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,91.33

In [57]:
# Create a table that breaks down school performances based on School Type
# This will be a DataFrame:
    #     Average Math Score
    #     Average Reading Score
    #     % Passing Math
    #     % Passing Reading
    #     Overall Passing Rate (Average of the above two)

    # Use groupby to group school_size_df by "School Type" 
    # Apply the .mean() the method of aggregation
    # select the columns to keep (i.e. "Average Math Score")
    # Option: use the round function to round to 2 decimal places
size_type_avg_math_scores = round(school_type_df.groupby(["School Type"]).mean()["Average Math Score"], 2)
# size_type_avg_math_scores

size_type_avg_reading_scores = round(school_type_df.groupby(["School Type"]).mean()["Average Reading Score"], 2)
# size_type_avg_reading_scores

size_type_passing_math = round(school_type_df.groupby(["School Type"]).mean()["% Passing Math"], 2)
# size_type_passing_math

size_type_passing_reading = round(school_type_df.groupby(["School Type"]).mean()["% Passing Reading"], 2)
# size_type_passing_reading

size_type_passing_overall = round(school_type_df.groupby(["School Type"]).mean()["% Overall Passing"], 2)
# size_type_passing_overall

In [58]:
# Create a table that breaks down school performances based on School Type
# This will be a DataFrame:
    #     Average Math Score
    #     Average Reading Score
    #     % Passing Math
    #     % Passing Reading
    #     Overall Passing Rate (Average of the above two)
type_summary_df = pd.DataFrame({
    "Average Math Score": size_type_avg_math_scores,
    "Average Reading Score": size_type_avg_reading_scores,
    "% Passing Math": size_type_passing_math,
    "% Passing Reading": size_type_passing_reading,
    "Overall Passing Rate": size_type_passing_overall
    })
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67